# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/


# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# Django
# =========================
*.log

# Local database
db.sqlite3
db.ecommerceapi


# =========================
# Environment Variables
# =========================
.env
.env.*


# =========================
# Static Files
# =========================
staticfiles/
static/


# =========================
# Media Files
# Cloudinary handles uploads
# =========================
media/


# =========================
# Django Migration Cache
# =========================
**/__pycache__/
# Keep migrations, ignore only cache


# =========================
# IDE
# =========================
.vscode/
.idea/


# =========================
# OS
# =========================
.DS_Store
Thumbs.db