# Virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database (SQLite)
db.sqlite3
db.ecommerceapi

# Environment variables
.env
.env.*

# Django files
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db